<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159028759297-3h6r6rth7u4a3hkj1m4fug9s0j9mmuad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159028759297-3h6r6rth7u4a3hkj1m4fug9s0j9mmuad</string>
	<key>API_KEY</key>
	<string>AIzaSyD3k41Pk3cxhOeNqS4oKkzkJCU4CuSPM1I</string>
	<key>GCM_SENDER_ID</key>
	<string>159028759297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>poyo.kitoko.com.xiz</string>
	<key>PROJECT_ID</key>
	<string>xizz-bd23c</string>
	<key>STORAGE_BUCKET</key>
	<string>xizz-bd23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159028759297:ios:03a93e46e81858d972e900</string>
</dict>
</plist>